body
{
margin:0;
font-family:Arial;
line-height:1.6;
background:white;
color:black;
}

header
{
background:#222;
color:white;
text-align:center;
padding:20px;
}

footer
{
background:#222;
color:white;
text-align:center;
padding:15px;
}

.container
{
display:flex;
min-height:80vh;
}

nav
{
width:240px;
background:#f0f0f0;
padding:20px;
}

nav ul
{
list-style:none;
padding:0;
}

nav li
{
margin-bottom:10px;
}

nav a
{
    text-decoration:none;
    color:black;

    display:block;
    padding:8px 12px;

    border:1px solid #bbb;
    border-radius:8px;

    transition:0.2s;
}

nav a:hover
{
    background:#ddd;
}

main
{
flex:1;
padding:30px;
}

.box
{
background:#fcfcfa;
padding:20px;
border-radius:10px;
margin-bottom:30px;
border:1px solid #ccc;
}

p
{
margin-bottom:15px;
}

.math-img
{
display:block;
margin:auto;
width:350px;

border:2px solid gray;
padding:5px;

transition:0.3s;
}

.math-img:hover
{
transform:scale(1.05);
}

.img-description
{
text-align:center;
margin-top:8px;
font-size:14px;
}

hr
{
margin:40px 0;
border:0;
height:1px;
background:#ccc;
}

button
{
margin-top:10px;
padding:8px 12px;
cursor:pointer;
}

.dark-theme
{
    background:#121212;
    color:white;
}

.dark-theme nav
{
    background:#1e1e1e;
}

.dark-theme nav a
{
    color:white;
}

.dark-theme .box
{
    background:#1e1e1e;
    border:1px solid #444;
}

.dark-theme hr
{
    background:#444;
}

.dark-theme .math-img
{
    filter: invert(1) hue-rotate(180deg);
}

nav a.active
{
    background:#787868;
    color:white;
}